//main Nav
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;
        float: left;
        display: block;
        width: 60px;
        border-right: solid 1px black;
        }
    li:last-child{
        border-right: none !important;
        }
    a{
        color: #fff;
        text-decoration: none;
        display: block;
    }
}
//nav end

#topbar{
    min-height:100px;
    min-width:50px;
    max-width:400px;
    background: url(./img/red-noise.png);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    position: absolute;
    left: 0;
    top: 50px;

    
    #nav-div{
        position:relative;
        bottom: 5px;
    }
}